/*////////////////////////////////////////// reset ///////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*////////////////////////////////////////// variable ///////////////////////////////////////////*/
:root {
  --fonta: "Acme", sans-serif;
  --fontb: "Indie Flower", cursive;
  --fontc: "Libre Baskerville", serif;
  --light: #b1dad4;
  --dark: #69afb9;
  --text: #000;
  --border: #ddd;
  --maj: #22a6b3;
}
/*////////////////////////////////////////// general ///////////////////////////////////////////*/
html {
  font-size: 55.5556%;
}
body {
  font-family: var(--fontc);
  color: var(--text);
  font-size: 1.6rem;
  background: rgb(246, 248, 231);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0;
}
ul {
  list-style: none;
}
a {
  color: var(--text);
  text-decoration: none;
}
.separator {
  margin: 2rem auto;
  height: 0.6rem;
  width: 15rem;
  background: var(--dark);
}
.separator2 {
  margin: 0rem auto 2rem auto;
  height: 0.6rem;
  width: 15rem;
  background: var(--dark);
}
.underline {
  border-bottom: 1px solid #333;
}
em {
  font-family: var(--fonta);
  font-style: normal;
  color: var(--dark);
  font-weight: 700;
  font-size: 2.6rem;
}
.border {
  border: 2rem solid var(--dark);
}
.fontb {
  font-family: var(--fonta);
}
/*////////////////////////////////////////// container ///////////////////////////////////////////*/
.container {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
}
/*////////////////////////////////////////// nav ///////////////////////////////////////////*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: sticky;
  top: 0px;
  min-height: 7rem;
  background: linear-gradient(to left, var(--dark), var(--light));
  box-shadow: 0 1px 50px 1px #444;
}
nav,
a {
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}
nav,
a:hover {
  color: #555;
}
/*////////////////////////////////////////// acceuil ///////////////////////////////////////////*/
.intro {
  text-align: center;
  min-height: calc(100vh - 7rem);
  background: url(/img/arriereplanc.jpg) center center/cover;
}
.logo {
  margin: 7rem 0;
  max-width: 35rem;
  border-radius: 50%;
}
h1 {
  text-align: center;
  font-family: var(--fonta);
  font-size: 5rem;
  padding: 0 0 4rem 0;
}
.acc-quote {
  padding: 4rem 2rem 0 2rem;
  font-family: var(--fontb);
  font-size: 3.5rem;
  display: flex;
  flex-flow: row nowarp;
  justify-content: center;
  line-height: 3.4rem;
}
.quote {
  padding: 0 1.5rem 0 1.5rem;
  font-size: 3rem;
}
/*////////////////////////////////////////// presentation ///////////////////////////////////////////*/
.presentation {
  display: flex;
  flex-flow: row nowrap;
}
.d-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 50rem;
  min-height: 50rem;
  background: var(--dark);
}
.photo {
  max-width: 35rem;
  border: 0.2rem solid var(--light);
  border-radius: 50%;
}
.text-pre {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
}
.titre {
  text-align: center;
  font-family: var(--fonta);
  color: var(--dark);
  padding: 3rem 0 2rem 0;
  font-size: 3.5rem;
  letter-spacing: 0.8px;
}
.text {
  text-align: center;
  font-size: 2.2rem;
  padding: 1rem 5rem 1rem 5rem;
  letter-spacing: 0.5px;
  line-height: 2.5rem;
}
/*////////////////////////////////////////// tarif ///////////////////////////////////////////*/
.un {
  padding-bottom: 5rem;
}
/*////////////////////////////////////////// menu ///////////////////////////////////////////*/
.menuType {
  background: white;
  border: 1px solid var(--dark);
  border-radius: 20px;
  margin: 4rem auto;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(8, auto);
  grid-template-areas:
    "ten ten "
    "en en"
    "tpl tpl"
    "vi ac"
    "pl sa"
    "tde tde"
    "de de "
    "te te";
}
.elem {
  font-size: 2rem;
  font-family: var(--fontb);
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h3men {
  margin: 0;
  font-size: 3rem;
  background: linear-gradient(to top, var(--dark), var(--light));
}
h4 {
  font-size: 2rem;
  text-decoration: underline;
}
.ten {
  padding: 1.5rem;
  grid-area: ten;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.en {
  text-align: center;
  grid-area: en;
}
.tpl {
  padding: 1.5rem;
  grid-area: tpl;
}
.vi {
  padding: 1rem 0rem 1rem 8.5rem;
  grid-area: vi;
  align-items: start;
}
.ac {
  padding: 1rem 0rem 1rem 8.5rem;
  grid-area: ac;
  align-items: start;
}
.sa {
  padding: 1rem 0rem 1rem 8.5rem;
  grid-area: sa;
  align-items: start;
}
.pl {
  padding: 1rem 0rem 1rem 8.5rem;
  grid-area: pl;
  align-items: start;
}
.tde {
  padding: 1.5rem;
  grid-area: tde;
}
.de {
  text-align: center;
  grid-area: de;
}
.te {
  grid-area: te;
  padding: 1.5rem 0 0.2rem 0.5rem;
}
/*////////////////////////////////////////// galerie ///////////////////////////////////////////*/
.galerigrid {
  margin: 5rem auto;
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 385px);
  grid-template-rows: repeat(3, 385px);
  grid-template-areas:
    "i1 i2 i3 i4"
    "i5 i6 i7 i8"
    ". i9 i10 .";
}

.imag {
  border: 0.3rem solid var(--dark);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 325px;
  height: 325px;
  transition: 0.3s;
}

.imag:hover {
  box-shadow: -1px -1px 10px 1px var(--light), -1px 1px 10px 1px var(--light),
    1px -1px 10px 1px var(--light), 1px 1px 10px 0.1px var(--light);
  width: 425px;
  height: 425px;
}

.imgtext {
  padding: 0 0.3rem 2.5rem 0.3rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: black;
  height: 1.9rem;
  background: var(--dark);
}

.img1 {
  grid-area: i1;
  background: url(/img/galerie1.jpg) center center/cover;
}
.img2 {
  grid-area: i2;
  background: url(/img/galerie2.jpg) center center/cover;
}
.img3 {
  grid-area: i3;
  background: url(/img/galerie3.jpg) center center/cover;
}
.img4 {
  grid-area: i4;
  background: url(/img/galerie4.jpg) center center/cover;
}
.img5 {
  grid-area: i5;
  background: url(/img/galerie5.jpg) center center/cover;
}
.img6 {
  grid-area: i6;
  background: url(/img/galerie6.jpg) center center/cover;
}
.img7 {
  grid-area: i7;
  background: url(/img/galerie7.jpg) center center/cover;
}
.img8 {
  grid-area: i8;
  background: url(/img/galerie8.jpg) center center/cover;
}
.img9 {
  grid-area: i9;
  background: url(/img/galerie9.jpg) center center/cover;
}
.img10 {
  grid-area: i10;
  background: url(/img/galerie10.jpg) center center/cover;
}
/*////////////////////////////////////////// contact ///////////////////////////////////////////*/
.contact {
  display: flex;
  flex-flow: row nowarp;
  padding-top: 4rem;
}
.meContacter {
  padding-top: 1rem;
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
  justify-content: start;
}
.iconc {
  font-size: 2.4rem;
  padding-right: 0.8rem;
  color: var(--dark);
}
.h3contact {
  font-size: 3rem;
  color: var(--dark);
  font-family: var(--fonta);
}
.pcontact {
  line-height: 2.8rem;
}
.linkc {
  font-weight: 400;
  transition: 0.3s;
}
.linkc:hover {
  color: var(--dark);
}
.devis {
  border-left: 1px solid var(--light);
  padding: 1rem 0 2rem 15rem;
  margin-bottom: 4rem;
  flex: auto;
}
label {
  font-size: 2.2rem;
}
input,
textarea {
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 0.3rem 0.5rem;
  font-size: 2.2rem;
  line-height: 2.9rem;
  letter-spacing: 0.3rem;
  font-family: var(--fontb);
  border: 2px solid var(--light);
  width: 35rem;
}
input:focus,
textarea:focus {
  border: 2px solid var(--dark);
  outline: 0;
}
button {
  border-radius: 2rem;
  border: 2px solid var(--light);
  font-size: 2.2rem;
  font-weight: 700;
  margin: 2rem 0;
  padding: 1rem 2rem;
  cursor: pointer;
  background: var(--dark);
  transition: 0.3s;
}
button:hover {
  border: 2px solid var(--dark);
  background: var(--light);
  box-shadow: inset 0 1px 5px 1px #444;
}
button:focus {
  outline: 0;
}
/*////////////////////////////////////////// footer ///////////////////////////////////////////*/
footer {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  background: var(--dark);
  height: 4rem;
}
