.border {
  border: 1.2rem solid var(--dark);
}
/*/ ///////////////////////////////////////// presentation ///////////////////////////////////////////*/
.presentation {
  flex-direction: column-reverse;
}
/*////////////////////////////////////////// menu ///////////////////////////////////////////*/
.menuType {
  margin: 2rem;
 }
/*////////////////////////////////////////// galerie ///////////////////////////////////////////*/
.galerigrid {
  margin: 2rem auto;
  display: flex;
  flex-flow: row wrap;
  height: 650px;
  overflow: auto;
}

.imag {
  margin: 2rem;
  width: 250px;
  height: 250px;
}

.imag:hover {
  box-shadow: none;
  width: 250px;
  height: 250px;
 }

 .imgtext {
   display: none;
 }

/*////////////////////////////////////////// contact ///////////////////////////////////////////*/
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  
}
.devis {
  border-left: none;
  border-top: 3px solid var(--light);
  margin: 5rem 0;
  padding: 5rem 3rem 1rem 3rem;
}